version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: travel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: travel
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build:
      context: https://github.com/suneethabulla/travel-backend.git
    container_name: travel-backend
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/travel
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - mysql

  frontend:
    build:
      context: https://github.com/suneethabulla/travel-frontend.git
    container_name: travel-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mysql-data:
